# --- General ---
node_modules/
dist/
build/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn.lock

# --- OS / Editor ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# --- Admin (React + Vite) ---
/admin/node_modules/
/admin/dist/
/admin/.vite
/admin/.eslintcache

# --- Frontend (React + Vite / Next JS) ---
/frontend-echoswap/node_modules/
/frontend-echoswap/dist/
/frontend-echoswap/.vite
/frontend-echoswap/.eslintcache
/frontend/.next
/frontend/node_modules

# --- Backend (Node + Express) ---
/api/node_modules/
/api/dist/
/api/build/
/api/coverage
/api/.nyc_output